<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
    <import resource="../../../scripts/database.xml"/>
    <!--Spring helpers-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <!--Jetty beans-->
    <bean id="serverInitializer" class="net.sf.xfresh.jetty.JettyServerInitializer">
        <property name="port" value="8080"/>
        <property name="maxThreads" value="10"/>
        <property name="handlers">
            <list>
                <bean class="net.sf.xfresh.jetty.YaletXmlPageHandler">
                    <property name="resourceBase" value="./frontend/src/web"/>
                </bean>
                <bean class="org.mortbay.jetty.handler.ResourceHandler">
                    <property name="resourceBase" value="./frontend/src/web"/>
                </bean>
            </list>
        </property>
    </bean>

    <!--Fresh core beans-->
    <bean id="yaletProcessor" class="net.sf.xfresh.core.YaletProcessor">
        <property name="encoding" value="utf-8"/>
    </bean>

    <bean id="yaletSupport" class="net.sf.xfresh.core.impl.DefaultYaletSupport"/>

    <bean id="yaletResolver" class="net.sf.xfresh.core.spring.SpringYaletResolver"/>

    <bean id="saxGenerator" class="net.sf.xfresh.core.sax.DefaultSaxGenerator"/>

    <bean id="singleYaletProcessor" class="net.sf.xfresh.core.impl.DefaultSingleYaletProcessor"/>

    <!--Searcher-->
    <bean id="searcher" class="ru.goodsReview.searcher.Searcher" init-method="getReadyForSearch">
        <property name="directoryDB" value="data/index/products"/>
    </bean>
    <!--Managers-->
    <bean id="searchManager" class="ru.goodsReview.frontend.service.SearchManager"/>
    <bean id="thesisManager" class="ru.goodsReview.frontend.service.ThesisManager"/>
    <bean id="productManager" class="ru.goodsReview.frontend.service.ProductManager">
        <property name="popularCount">
            <value>5</value>
        </property>
    </bean>
    <bean id="popularReviewManager" class="ru.goodsReview.frontend.service.PopularReviewManager">
        <property name="count">
            <value>5</value>
        </property>
    </bean>
    <bean id="reviewManager" class="ru.goodsReview.frontend.service.ReviewManager">
        <property name="popularCount">
            <value>5</value>
        </property>
    </bean>
    <!--Yalets-->
    <bean id="reviewYalet" class="ru.goodsReview.frontend.yalet.ReviewYalet"/>
    <bean id="popularProductsYalet" class="ru.goodsReview.frontend.yalet.PopularProductsYalet"/>
    <bean id="productYalet" class="ru.goodsReview.frontend.yalet.ProductYalet"/>
    <bean id="searchProductYalet" class="ru.goodsReview.frontend.yalet.SearchProductYalet"/>
    <bean id="similarProductYalet" class="ru.goodsReview.frontend.yalet.SimilarProductYalet"/>
    <bean id="thesisYalet" class="ru.goodsReview.frontend.yalet.ThesisYalet"/>
    <bean id="popularReviewYalet" class="ru.goodsReview.frontend.yalet.PopularReviewYalet"/>
</beans>
