<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
    <!--Spring helpers-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    <!--Jetty beans-->
    <bean id="serverInitializer" class="net.sf.xfresh.jetty.JettyServerInitializer">
        <!--property's-->
        <property name="port" value="8080"/>
        <property name="maxThreads" value="10"/>
        <property name="handlers">
            <list>
                <bean class="net.sf.xfresh.jetty.YaletXmlPageHandler">
                    <property name="resourceBase" value="./frontend/src/web"/>
                </bean>
                <bean class="org.mortbay.jetty.handler.ResourceHandler">
                    <property name="resourceBase" value="./frontend/src/web"/>
                </bean>
            </list>
        </property>
    </bean>

    <!--Fresh core beans-->
    <bean id="yaletProcessor" class="net.sf.xfresh.core.YaletProcessor">
        <property name="encoding" value="utf-8"/>
    </bean>

    <bean id="yaletSupport" class="net.sf.xfresh.core.impl.DefaultYaletSupport"/>

    <bean id="yaletResolver" class="net.sf.xfresh.core.spring.SpringYaletResolver"/>

    <bean id="saxGenerator" class="net.sf.xfresh.core.sax.DefaultSaxGenerator"/>

    <bean id="singleYaletProcessor" class="net.sf.xfresh.core.impl.DefaultSingleYaletProcessor"/>

    <!--Managers-->

    <bean id="searchManager" class="ru.goodsReview.frontend.service.SearchManager"/>

    <!--Yalets-->
    <bean id="reviewYalet" class="ru.goodsReview.frontend.yalet.ReviewYalet"/>
    <bean id="popularProductsYalet" class="ru.goodsReview.frontend.yalet.PopularProductsYalet"/>
    <bean id="productYalet" class="ru.goodsReview.frontend.yalet.ProductYalet"/>
    <bean id="searchProductYalet" class="ru.goodsReview.frontend.yalet.SearchProductYalet"/>
    <bean id="similarProductYalet" class="ru.goodsReview.frontend.yalet.SimilarProduct"/>


    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource" lazy-init="false">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/goodsreview_permanent?useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
        <property name="validationQuery" value="select 1"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate" lazy-init="false">
        <constructor-arg ref="dataSource"/>
    </bean>
</beans>
