<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
    <import resource="../../../scripts/database.xml"/>

    <!--Spring helpers-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    <bean id="searcher" class="ru.goodsreview.searcher.SimpleSearcher">
        <property name="directoryDB" value="data/index/products"/>
    </bean>
</beans>
