<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>net.sf.xfresh.core.servlet.Dispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.xml</url-pattern>
    </servlet-mapping>
    <mime-mapping>
        <extension>xml</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
</web-app>
