<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
    <import resource="../../../scripts/database.xml"/>
    <!--Spring helpers-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <bean id="extractThesis" class="ru.goodsReview.analyzer.ExtractThesis"/>

    <bean id="thesisExtractionDocument" class="ru.goodsReview.analyzer.util.ThesisExtractionDocument"/>

    <bean id="scheduledTask" class="org.springframework.scheduling.timer.ScheduledTimerTask" lazy-init="false">
        <property name="delay" value="1000"/>
        <property name="period" value="5000000"/>
        <property name="timerTask" ref="extractThesis"/>
    </bean>

    <bean class="org.springframework.scheduling.timer.TimerFactoryBean">
        <property name="scheduledTimerTasks">
            <list>
                <ref local="scheduledTask"/>
            </list>
        </property>
    </bean>
</beans>

