<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
    <import resource="../../../scripts/database.xml"/>
    <!--Spring helpers-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <!--Grabbers-->
    <bean id="grabberCitilink" class="ru.goodsreview.miner.obsolete.GrabberCitilink">
        <property name="grabberConfig" value="miner/webHarvest/configs/Citilink/CitilinkReviewsConfig.xml"/>
        <property name="downloadConfig" value="miner/webHarvest/configs/Citilink/downloadCitilinkSite.xml"/>
        <property name="pathNameParseConf" value="miner/nameParserConfigs/Citilink/"/>
        <property name="path" value="data/miner/Citilink/"/>
    </bean>

    <bean id="grabberCitilinkTask" class="org.springframework.scheduling.timer.ScheduledTimerTask" lazy-init="false">
        <property name="delay" value="0"/>
        <property name="period" value="36000000"/>
        <property name="timerTask" ref="grabberCitilink"/>
    </bean>

    <bean id="grabberUlmart" class="ru.goodsreview.miner.obsolete.GrabberUlmart">
        <property name="grabberConfig" value="miner/webHarvest/configs/Ulmart/UlmartReviewsConfig.xml"/>
        <property name="downloadConfig" value="miner/webHarvest/configs/Ulmart/downloadUlmartSite.xml"/>
        <property name="pathNameParseConf" value="miner/nameParserConfigs/Ulmart/"/>
        <property name="path" value="data/miner/Ulmart/"/>
    </bean>

    <bean id="grabberUlmartTask" class="org.springframework.scheduling.timer.ScheduledTimerTask" lazy-init="false">
        <property name="delay" value="0"/>
        <property name="period" value="36000000"/>
        <property name="timerTask" ref="grabberUlmart"/>
    </bean>

    <bean class="org.springframework.scheduling.timer.TimerFactoryBean">
        <property name="scheduledTimerTasks">
            <list>
                <ref local="grabberCitilinkTask"/>
                <ref local="grabberUlmartTask"/>
            </list>
        </property>
    </bean>
</beans>
